---

---

.bubble-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.bubble {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 12px;

    padding: 10px 20px 4px 20px;

    font-family: 'Concert One', cursive;

    width: 70vw;
    margin-top: 30vh;

    cursor: pointer;

    .quote {
        font-size: 1.2em;
    }

    .who {
        text-align: right;
        padding:0px;

        opacity: 0.5;

        &::before {
            content: '\2014';
            padding-right: 2px;
        }
    }
}